html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  padding: 1.47rem;
  background-color: #2b3851;
}

.robot {
  width: 320px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  top: 30px;
  right: 27px;
}

.robot-body {
  width: 320px;
}

.robot-head-left {
  position: absolute;
  width: 125px;
  left: 30px;
  bottom: 60px;
}

.robot-brain {
  position: absolute;
  right: 130px;
  top: 0;
}

.robot-head-right {
  position: absolute;
  left: 160px;
  bottom: 60px;
}

.robot:hover .robot-head-left {
  bottom: 70px;
  left: 0;
  right: auto;
}

.robot:hover .robot-head-right {
  bottom: 70px;
  left: auto;
  right: 0;
}

.robot:hover .robot-brain {
  width: 45px;
  right: 0;
  top: -10px;
}
